/* tr.even {
    background: green;
    color: white
}
tr.odd {
    background: pink;
    color: white
}

tr.first {
    background: maroon;
    color: white
}

tr.last {
    background: coral;
    color: white
} */